## Final Project Submission

Please fill out:
* Student name: Ingavi Kilavuka
* Student pace: full time
* Scheduled project review date/time:
* Instructor name: Mwikali 
* Blog post URL:

## Overview

## Business Understanding
Microsoft would like to move into the movie industry as they can see other companies thriving. 
They are in need of assitance to know what type of movies do well at the box office.

## Data Understanding

In [2]:
#importing neccessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import sqlite3

%matplotlib inline

In [4]:
# Import CSV files
Bom_movies = pd.read_csv(r"C:\Users\HomePC\Documents\Flatiron\course_materials\Phase_01\dsc-phase-1-project-v2-4\zippedData\bom.movie_gross.csv.gz")
movie_info = pd.read_csv(r"C:\Users\HomePC\Documents\Flatiron\course_materials\Phase_01\dsc-phase-1-project-v2-4\zippedData\rt.movie_info.tsv.gz", sep='\t')
TMDB_movies = pd.read_csv(r"C:\Users\HomePC\Documents\Flatiron\course_materials\Phase_01\dsc-phase-1-project-v2-4\zippedData\tmdb.movies.csv.gz")
movie_budgets = pd.read_csv(r"C:\Users\HomePC\Documents\Flatiron\course_materials\Phase_01\dsc-phase-1-project-v2-4\zippedData\tn.movie_budgets.csv.gz")

In [7]:
# Imported the IMDB file from sqlite database

imdb_data = sqlite3.connect(r"C:\Users\HomePC\Documents\Flatiron\course_materials\Phase_01\dsc-phase-1-project-v2-4\zippedData\im.db.zip")

In [19]:
bom_movies = pd.read_csv(r"C:\Users\HomePC\Documents\Flatiron\course_materials\Phase_01\dsc-phase-1-project-v2-4\zippedData\bom.movie_gross.csv.gz")

# Get the size of the dataset
num_rows, num_columns = bom_movies.shape
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 3387
Number of columns: 5

DatabaseError: Execution failed on sql '

SELECT *
    FROM sqlite_master

': file is not a database

Data Analysis

Visualization

In [ ]:
# Your code here - remember to use markdown cells for comments as well!