## Final Project Submission

Please fill out:
* Student name: Ingavi Kilavuka
* Student pace: full time
* Scheduled project review date/time:
* Instructor name: Mwikali 
* Blog post URL:

## Overview

## Business Understanding
Microsoft would like to move into the movie industry as they can see other companies thriving. 
They are in need of assitance to know what type of movies do well at the box office.

## Data Understanding

In [2]:
#importing neccessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import sqlite3

%matplotlib inline

In [40]:
# Import CSV files
Bom_movies = pd.read_csv(r"C:\Users\HomePC\Documents\Flatiron\course_materials\Phase_01\dsc-phase-1-project-v2-4\zippedData\bom.movie_gross.csv.gz")
movie_info = pd.read_csv(r"C:\Users\HomePC\Documents\Flatiron\course_materials\Phase_01\dsc-phase-1-project-v2-4\zippedData\rt.movie_info.tsv.gz", sep='\t')
TMDB_movies = pd.read_csv(r"C:\Users\HomePC\Documents\Flatiron\course_materials\Phase_01\dsc-phase-1-project-v2-4\zippedData\tmdb.movies.csv.gz")
movie_budgets = pd.read_csv(r"C:\Users\HomePC\Documents\Flatiron\course_materials\Phase_01\dsc-phase-1-project-v2-4\zippedData\tn.movie_budgets.csv.gz")

In [57]:
# Imported the IMDB file from sqlite database

# imdb_data = sqlite3.connect(r"C:\Users\HomePC\Documents\Flatiron\course_materials\Phase_01\dsc-phase-1-project-v2-4\zippedData\im.db.zip")
# movie_basics_df = pd.read_sql_query("SELECT * FROM movie_basics", imdb_data)
# movie_ratings_df = pd.read_sql_query("SELECT * FROM movie_ratings", imdb_data)

### In this next section, 
I wanted to pick the two datasets that had the largest size as they have highest statistical power. These data sets will be more reliable as they are a better reflector of the reality of the movie industry. * add notes on info

In [56]:
# Getting the size of of Bom movies data 
Bom_movies = pd.read_csv(r"C:\Users\HomePC\Documents\Flatiron\course_materials\Phase_01\dsc-phase-1-project-v2-4\zippedData\bom.movie_gross.csv.gz")

num_rows, num_columns = bom_movies.shape
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

#To mulptiply both rows and columns to gauge an understand of how many elements we are dealing with

Multiplied_elements = num_rows * num_columns
print("All elements:", Multiplied_elements)
print("Data information:", bom_movies.info)

Number of rows: 3387
Number of columns: 5
All elements: 16935
Data information: <bound method DataFrame.info of                                             title      studio  domestic_gross  \
0                                     Toy Story 3          BV     415000000.0
1                      Alice in Wonderland (2010)          BV     334200000.0
2     Harry Potter and the Deathly Hallows Part 1          WB     296000000.0
3                                       Inception          WB     292600000.0
4                             Shrek Forever After        P/DW     238700000.0
...                                           ...         ...             ...
3382                                    The Quake       Magn.          6200.0
3383                  Edward II (2018 re-release)          FM          4800.0
3384                                     El Pacto        Sony          2500.0
3385                                     The Swan  Synergetic          2400.0
3386                            An Actor Prepares       Grav.          1700.0

     foreign_gross  year
0        652000000  2010
1        691300000  2010
2        664300000  2010
3        535700000  2010
4        513900000  2010
...            ...   ...
3382           NaN  2018
3383           NaN  2018
3384           NaN  2018
3385           NaN  2018
3386           NaN  2018

[3387 rows x 5 columns]>

In [55]:
# Getting the size of of TMDB movies data 
TMDB_movies = pd.read_csv(r"C:\Users\HomePC\Documents\Flatiron\course_materials\Phase_01\dsc-phase-1-project-v2-4\zippedData\tmdb.movies.csv.gz")

num_rows, num_columns = TMDB_movies.shape
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

#To mulptiply both rows and columns to gauge an understand of how many elements we are dealing with

Multiplied_elements = num_rows * num_columns
print("All elements:", Multiplied_elements) 
print("Data information:", TMDB_movies.info)

Number of rows: 26517
Number of columns: 10
All elements: 265170
Data information: <bound method DataFrame.info of        Unnamed: 0            genre_ids      id original_language  \
0               0      [12, 14, 10751]   12444                en
1               1  [14, 12, 16, 10751]   10191                en
2               2        [12, 28, 878]   10138                en
3               3      [16, 35, 10751]     862                en
4               4        [28, 878, 12]   27205                en
...           ...                  ...     ...               ...
26512       26512             [27, 18]  488143                en
26513       26513             [18, 53]  485975                en
26514       26514         [14, 28, 12]  381231                en
26515       26515      [10751, 12, 28]  366854                en
26516       26516             [53, 27]  309885                en

                                     original_title  popularity release_date  \
0      Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
1                          How to Train Your Dragon      28.734   2010-03-26
2                                        Iron Man 2      28.515   2010-05-07
3                                         Toy Story      28.005   1995-11-22
4                                         Inception      27.920   2010-07-16
...                                             ...         ...          ...
26512                         Laboratory Conditions       0.600   2018-10-13
26513                               _EXHIBIT_84xxx_       0.600   2018-05-01
26514                                  The Last One       0.600   2018-10-01
26515                                  Trailer Made       0.600   2018-06-22
26516                                    The Church       0.600   2018-10-05

                                              title  vote_average  vote_count
0      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
1                          How to Train Your Dragon           7.7        7610
2                                        Iron Man 2           6.8       12368
3                                         Toy Story           7.9       10174
4                                         Inception           8.3       22186
...                                             ...           ...         ...
26512                         Laboratory Conditions           0.0           1
26513                               _EXHIBIT_84xxx_           0.0           1
26514                                  The Last One           0.0           1
26515                                  Trailer Made           0.0           1
26516                                    The Church           0.0           1

[26517 rows x 10 columns]>

In [53]:
# Getting the size of of movie_info data 
movie_info = pd.read_csv(r"C:\Users\HomePC\Documents\Flatiron\course_materials\Phase_01\dsc-phase-1-project-v2-4\zippedData\rt.movie_info.tsv.gz", sep='\t')

num_rows, num_columns = movie_info.shape
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

#To mulptiply both rows and columns to gauge an understand of how many elements we are dealing with

Multiplied_elements = num_rows * num_columns
print("All elements:", Multiplied_elements) 
print("Data information:", movie_info.info)

Number of rows: 1560
Number of columns: 12
All elements: 18720
Data information: <bound method DataFrame.info of         id                                           synopsis rating  \
0        1  This gritty, fast-paced, and innovative police...      R
1        3  New York City, not-too-distant-future: Eric Pa...      R
2        5  Illeana Douglas delivers a superb performance ...      R
3        6  Michael Douglas runs afoul of a treacherous su...      R
4        7                                                NaN     NR
...    ...                                                ...    ...
1555  1996  Forget terrorists or hijackers -- there's a ha...      R
1556  1997  The popular Saturday Night Live sketch was exp...     PG
1557  1998  Based on a novel by Richard Powell, when the l...      G
1558  1999  The Sandlot is a coming-of-age story about a g...     PG
1559  2000  Suspended from the force, Paris cop Hubert is ...      R

                                                  genre            director  \
0                   Action and Adventure|Classics|Drama    William Friedkin
1                     Drama|Science Fiction and Fantasy    David Cronenberg
2                     Drama|Musical and Performing Arts      Allison Anders
3                            Drama|Mystery and Suspense      Barry Levinson
4                                         Drama|Romance      Rodney Bennett
...                                                 ...                 ...
1555   Action and Adventure|Horror|Mystery and Suspense                 NaN
1556                 Comedy|Science Fiction and Fantasy        Steve Barron
1557  Classics|Comedy|Drama|Musical and Performing Arts      Gordon Douglas
1558    Comedy|Drama|Kids and Family|Sports and Fitness  David Mickey Evans
1559  Action and Adventure|Art House and Internation...                 NaN

                                                writer  theater_date  \
0                                       Ernest Tidyman   Oct 9, 1971
1                         David Cronenberg|Don DeLillo  Aug 17, 2012
2                                       Allison Anders  Sep 13, 1996
3                      Paul Attanasio|Michael Crichton   Dec 9, 1994
4                                         Giles Cooper           NaN
...                                                ...           ...
1555                                               NaN  Aug 18, 2006
1556  Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner  Jul 23, 1993
1557                                               NaN   Jan 1, 1962
1558                  David Mickey Evans|Robert Gunter   Apr 1, 1993
1559                                        Luc Besson  Sep 27, 2001

          dvd_date currency  box_office      runtime             studio
0     Sep 25, 2001      NaN         NaN  104 minutes                NaN
1      Jan 1, 2013        $     600,000  108 minutes  Entertainment One
2     Apr 18, 2000      NaN         NaN  116 minutes                NaN
3     Aug 27, 1997      NaN         NaN  128 minutes                NaN
4              NaN      NaN         NaN  200 minutes                NaN
...            ...      ...         ...          ...                ...
1555   Jan 2, 2007        $  33,886,034  106 minutes    New Line Cinema
1556  Apr 17, 2001      NaN         NaN   88 minutes  Paramount Vantage
1557  May 11, 2004      NaN         NaN  111 minutes                NaN
1558  Jan 29, 2002      NaN         NaN  101 minutes                NaN
1559  Feb 11, 2003      NaN         NaN   94 minutes  Columbia Pictures

[1560 rows x 12 columns]>

In [52]:
# Getting the size of of movie_budgets data 
movie_budgets = pd.read_csv(r"C:\Users\HomePC\Documents\Flatiron\course_materials\Phase_01\dsc-phase-1-project-v2-4\zippedData\tn.movie_budgets.csv.gz")

num_rows, num_columns = movie_budgets.shape
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

#To mulptiply both rows and columns to gauge an understand of how many elements we are dealing with

Multiplied_elements = num_rows * num_columns
print("All elements:", Multiplied_elements) 
print("Data information:", movie_budgets.info)

Number of rows: 5782
Number of columns: 6
All elements: 34692
Data information: <bound method DataFrame.info of       id  release_date                                        movie  \
0      1  Dec 18, 2009                                       Avatar
1      2  May 20, 2011  Pirates of the Caribbean: On Stranger Tides
2      3   Jun 7, 2019                                 Dark Phoenix
3      4   May 1, 2015                      Avengers: Age of Ultron
4      5  Dec 15, 2017            Star Wars Ep. VIII: The Last Jedi
...   ..           ...                                          ...
5777  78  Dec 31, 2018                                       Red 11
5778  79   Apr 2, 1999                                    Following
5779  80  Jul 13, 2005                Return to the Land of Wonders
5780  81  Sep 29, 2015                         A Plague So Pleasant
5781  82   Aug 5, 2005                            My Date With Drew

     production_budget domestic_gross worldwide_gross
0         $425,000,000   $760,507,625  $2,776,345,279
1         $410,600,000   $241,063,875  $1,045,663,875
2         $350,000,000    $42,762,350    $149,762,350
3         $330,600,000   $459,005,868  $1,403,013,963
4         $317,000,000   $620,181,382  $1,316,721,747
...                ...            ...             ...
5777            $7,000             $0              $0
5778            $6,000        $48,482        $240,495
5779            $5,000         $1,338          $1,338
5780            $1,400             $0              $0
5781            $1,100       $181,041        $181,041

[5782 rows x 6 columns]>

In [ ]:
*EXPLAINATION ON HOW THE TOP IS QUANTITATIVE AND THE BOTTOM IS QUALITATIVE, the bottom is an explnation on what you column

In [58]:
#COLUMN DESCRIPTIONS
print('Columns_for_movies_budget:', movie_budgets.columns) 
print('Columns_for_Bom_movies:', Bom_movies.columns) 
print('Columns_for_movie_info:', movie_info.columns) 
print('Columns_for_TMDB:', TMDB_movies.columns)

Columns_for_movies_budget: Index(['id', 'release_date', 'movie', 'production_budget', 'domestic_gross',
       'worldwide_gross'],
      dtype='object')
Columns_for_Bom_movies: Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'], dtype='object')
Columns_for_movie_info: Index(['id', 'synopsis', 'rating', 'genre', 'director', 'writer',
       'theater_date', 'dvd_date', 'currency', 'box_office', 'runtime',
       'studio'],
      dtype='object')
Columns_for_TMDB: Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')

Since what we are looking for needs to help us find the ROI we need a dataset with the budget, a dataset with the gross and a dataset(s) with the genre(to see which genre sells best), studio(Which studio to emulate) and runtime(How long the highest grossing are). The best data sets to use will be
- Movie_budget as it gives use both domestic and worldwide gross, as well as the movie budget
- Movies_info as it gives use the runtime of the movies as well as the genre
- Bom_movies can be used to confirm that all the data is reliable (through cross checking)

DESCRIBE THE LIMITATIONS OF THE DATA

Data Analysis

Visualization

In [ ]:
# Your code here - remember to use markdown cells for comments as well!