## Final Project Submission

Please fill out:
* Student name: Ingavi Kilavuka
* Student pace: full time
* Scheduled project review date/time:
* Instructor name: Mwikali 
* Blog post URL:

## Overview

## Business Understanding
Microsoft would like to move into the movie industry as they can see other companies thriving. 
They are in need of assitance to know what type of movies do well at the box office.

## Data Understanding

In [2]:
#importing neccessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import sqlite3

%matplotlib inline

In [40]:
# Import CSV files
Bom_movies = pd.read_csv(r"C:\Users\HomePC\Documents\Flatiron\course_materials\Phase_01\dsc-phase-1-project-v2-4\zippedData\bom.movie_gross.csv.gz")
movie_info = pd.read_csv(r"C:\Users\HomePC\Documents\Flatiron\course_materials\Phase_01\dsc-phase-1-project-v2-4\zippedData\rt.movie_info.tsv.gz", sep='\t')
TMDB_movies = pd.read_csv(r"C:\Users\HomePC\Documents\Flatiron\course_materials\Phase_01\dsc-phase-1-project-v2-4\zippedData\tmdb.movies.csv.gz")
movie_budgets = pd.read_csv(r"C:\Users\HomePC\Documents\Flatiron\course_materials\Phase_01\dsc-phase-1-project-v2-4\zippedData\tn.movie_budgets.csv.gz")

In [48]:
# Imported the IMDB file from sqlite database

# imdb_data = sqlite3.connect(r"C:\Users\HomePC\Documents\Flatiron\course_materials\Phase_01\dsc-phase-1-project-v2-4\zippedData\im.db.zip")
# movie_basics_df = pd.read_sql_query("SELECT * FROM movie_basics", imdb_data)
# movie_ratings_df = pd.read_sql_query("SELECT * FROM movie_ratings", imdb_data)

DatabaseError: Execution failed on sql 'SELECT * FROM movie_basics': file is not a database

### In this next section, 
I wanted to pick the two datasets that had the largest size as they have highest statistical power. These data sets will be more reliable as they are a better reflector of the reality of the movie industry.

In [34]:
# Getting the size of of Bom movies data 
Bom_movies = pd.read_csv(r"C:\Users\HomePC\Documents\Flatiron\course_materials\Phase_01\dsc-phase-1-project-v2-4\zippedData\bom.movie_gross.csv.gz")

num_rows, num_columns = bom_movies.shape
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

#To mulptiply both rows and columns to gauge an understand of how many elements we are dealing with

Multiplied_elements = num_rows * num_columns
print("All elements:", Multiplied_elements)

Number of rows: 3387
Number of columns: 5
All elements: 16935

In [35]:
# Getting the size of of TMDB movies data 
TMDB_movies = pd.read_csv(r"C:\Users\HomePC\Documents\Flatiron\course_materials\Phase_01\dsc-phase-1-project-v2-4\zippedData\tmdb.movies.csv.gz")

num_rows, num_columns = TMDB_movies.shape
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

#To mulptiply both rows and columns to gauge an understand of how many elements we are dealing with

Multiplied_elements = num_rows * num_columns
print("All elements:", Multiplied_elements)

Number of rows: 26517
Number of columns: 10
All elements: 265170

In [36]:
# Getting the size of of movie_info data 
movie_info = pd.read_csv(r"C:\Users\HomePC\Documents\Flatiron\course_materials\Phase_01\dsc-phase-1-project-v2-4\zippedData\rt.movie_info.tsv.gz", sep='\t')

num_rows, num_columns = movie_info.shape
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

#To mulptiply both rows and columns to gauge an understand of how many elements we are dealing with

Multiplied_elements = num_rows * num_columns
print("All elements:", Multiplied_elements)

Number of rows: 1560
Number of columns: 12
All elements: 18720

In [37]:
# Getting the size of of movie_budgets data 
movie_budgets = pd.read_csv(r"C:\Users\HomePC\Documents\Flatiron\course_materials\Phase_01\dsc-phase-1-project-v2-4\zippedData\tn.movie_budgets.csv.gz")

num_rows, num_columns = movie_budgets.shape
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

#To mulptiply both rows and columns to gauge an understand of how many elements we are dealing with

Multiplied_elements = num_rows * num_columns
print("All elements:", Multiplied_elements)

Number of rows: 5782
Number of columns: 6
All elements: 34692

In [ ]:
*EXPLAINATION ON HOW THE TOP IS QUANTITATIVE AND THE BOTTOM IS QUALITATIVE, the bottom is an explnation on what you column

In [45]:
#COLUMN DESCRIPTIONS
print('Columns_for_movies_budget:', movie_budgets.columns) 
print('Columns_for_Bom_movies:', Bom_movies.columns) 
print('Columns_for_movie_info:', movie_info.columns) 
print('Columns_for_TMDB:', TMDB_movies.columns)
print('Columns_for_movies_budget:', movie_budgets.columns)

Columns_for_movies_budget: Index(['id', 'release_date', 'movie', 'production_budget', 'domestic_gross',
       'worldwide_gross'],
      dtype='object')
Columns_for_Bom_movies: Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'], dtype='object')
Columns_for_movie_info: Index(['id', 'synopsis', 'rating', 'genre', 'director', 'writer',
       'theater_date', 'dvd_date', 'currency', 'box_office', 'runtime',
       'studio'],
      dtype='object')
Columns_for_TMDB: Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')
Columns_for_movies_budget: Index(['id', 'release_date', 'movie', 'production_budget', 'domestic_gross',
       'worldwide_gross'],
      dtype='object')

DESCRIBE THE LIMITATIONS OF THE DATA

Data Analysis

Visualization

In [ ]:
# Your code here - remember to use markdown cells for comments as well!